<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/f.ico">
  <link href="./static/assets/f.ico" rel="icon">
  
  <title>About Me</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Projects</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          
        </ul>

        <div class="footer-container">
           
          <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
          <p class="footer-share-icons">
              <a href="https://github.com/damirgafic/" class="fa-icon" title="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/damir-gafic/" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/assets/images/img-profil.jpg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Damir Gafic</h1>
                    <p>My name is Damir and I am from the Bay Area. I graduated from California State University, East Bay in May 2020. There I spent 3 years pursuing my Bachelor of Science, Computer Science. I am a software developer with experience in C++, Java, JavaScript, Lisp, and Python. I have done some work in Android Studio, and am learning Swift for ios as well. 
                    	
                    </p>



                    <ul class="list-unstyled">
                    	<p> Links to my contact information: </p>
                        <li>
                            <a href="mailto:damirgafic@gmail.com" title="" class="link-like-text"
                            style ="color: tomato" >Email: damirgafic@gmail.com</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/damir-gafic/" title="" class="link-like-text"
                            style ="color: blue" >LinkedIn</a>
                        </li>  
                        <li>
                            <a href="https://github.com/damirgafic/" title="" class="link-like-text" style="color:green" >GitHub</a>
                        </li>                         
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="./project.html" title="Projects" class="project-nav left"><span class="project-number">02</span>Previous</a>     
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>