<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/f.ico">
  <link href="./static/assets/f.ico" rel="icon">

  <title>My Projects</title>

  <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body>

  <!-- Add your content of header -->

  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <nav class="navbar-fullscreen" id="navbar-middle">
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul class="navbar-fullscreen-links">
            <li><a href="./" title="">Home</a></li>
            <li><a href="./project.html" title="">Projects</a></li>
            <li><a href="./about.html" title="">About me</a></li>

          </ul>

          <div class="footer-container">

            <p><small>© Damir Gafic | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/"
                  title="Beautiful Free Images">Unsplash</a></small></p>
            <p class="footer-share-icons">
              <a href="https://www.linkedin.com/in/damir-gafic/" class="fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/damirgafic/" class="fa-icon" title="">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </p>

          </div>


        </nav>

      </div>
    </nav>
  </header>



  <div class="hero-full-container background-image-container white-text-container" style="background-image:url('./static/assets/images/projimg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content  text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">01</span>Ticket to Ride</h2>

          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Java Project</h3>
                <p class="footer-share-icons">
                  <a href="https://github.com/screamuch/TicketToRide" class="fa-icon" title="GitHub Link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
              <h4>Credits</h4>
              <ul class="list-unstyled">
                <li>Ticket To Ride<sup>® </sup> </li>
              </ul>
            </div>
            <div class="col-md-8">
              <h3>Building the Board Game in Java</h3>
              <p>In this project I collaborated with 2 others on a board game using Java. We used
                the Model-View-Controller architecture to organize the specific development aspects
                of the program. I specifically focused on integrating the functions with the GUI and to make those work
                together. A partial map is used for this demo, but the map image can be changed in the folder, some
                hard-coding of the cities will be necessary as well to have an accurate game board.
              </p>
              <p>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="./static/assets/images/T2RPlayerActions.jpg" class="img-responsive" alt="">
              <p>Options during player turn</p>
            </div>
            <div class="col-md-6">
              <img src="./static/assets/images/T2RNumOfPlayers.jpg" class="img-responsive" alt="">
              <p>Entering number of players playing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">02</span>Box Office Data Analysis</h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Python Project</h3>
                <p class="footer-share-icons">
                  <a href="https://github.com/damirgafic/Box-Office-Data-Analysis" class="fa-icon" title="GitHub Link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>

              <h4>Credits</h4>

              <ul class="list-unstyled">
                <li>Data set api from boxofficemojo.com</li>


              </ul>



            </div>
            <div class="col-md-8">
              <h3>Contriving Various Graphs From the Data Set</h3>
              <p> Using a database with data on Box Offices, I used the Seaborn library
                to help me visualize the data into graphs. In my findings I found that revenue
                and budget have a strong correlation. I found that movies with a website are more
                likely to perform better at the box office compared to those that don't. I also found
                that "last" and "Man" are the most common words found in movie titles. There are also
                common words used to describe movies that will most likely make a movie more successful
                in the box office. Overall there are many different variables that can factor in whether
                a movie will be successful in the box office. </p>
              <p>
              </p>
            </div>
          </div>




          <div class="row">
            <div class="col-md-6">
              <img src="./static/assets/images/BoxPlot.jpg" class="img-responsive" alt="">
              <p>Box Plot graph</p>
            </div>
            <div class="col-md-6">
              <img src="./static/assets/images/Histogram.jpg" class="img-responsive" alt="">
              <p>Histogram graph</p>
            </div>
          </div>

          <img src="./static/assets/images/WordCloud.jpg" class="img-responsive" alt="">
          <p>Word Cloud</p>

        </div>
      </div>
    </div>
  </div>



  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">03</span>Image Manipulation Program</h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>C++/Qt Project</h3>
                <p class="footer-share-icons">
                  <a href="https://github.com/damirgafic/Image_Manipulation" class="fa-icon" title="GitHub Link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>

            <div class="row">

              <p>In this project I was able to make an application that works as a minimal paint program.
                To figure out how to draw the pixels in the shapes I wanted them to be, I had to write functions
                to figure out where to plug in my mouse-click coordinates into the mathematical
                functions to figure out drawing the outline of the shape, and also figuring
                out how to fill the shape. I used the Qt framework to help me link the toggles and buttons to my code. </p>
            </div>
            <div class="col-md-6">
              <img src="./static/assets/images/program.gif" class="img-responsive" alt="">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">04</span>Password Checker</h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Python Project</h3>
                <p class="footer-share-icons">
                  <a href="https://github.com/damirgafic/PasswordChecker" class="fa-icon" title="GitHub Link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>

                </p>
              </div>
              <h4>Credits</h4>
              <ul class="list-unstyled">
                <li>API: https://api.pwnedpasswords.com/range/<sup>® </sup> </li>


            </div>
            <div class="col-md-8">
              <h3>Checking Your Password Through the Terminal!</h3>
              <p> Instead of sending your password through a server on the web, which might
                be insecure, I decided to make an application that checks your password locally through hashing to the pwnedpasswords.com API.
              </p>
              <p>
              </p>
            </div>
          </div>
          <img src="./static/assets/images/password.jpg" class="img-responsive" alt="">
          <p>Example of program running</p>

        </div>
      </div>
    </div>
  </div>


  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">05</span>CriminalReport App</h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Java/Android Studio Project</h3>
                <p class="footer-share-icons">
                  <a href="https://github.com/damirgafic/CriminalReportApp" class="fa-icon" title="GitHub Link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-8">

              <p>
              </p>
            </div>

            <div class="row">

              <p>Application made to showcase the recyclerView feature with the list.
                In this application a crime can be added to the list.
                This crime will have a title, and the user may use a photo from the phone's library or can take
                the photo with the phone. A date may be selected by using the Android
                calendar. And there is a toggle whether the crime has been solved. In the README you can
                find instructions for running this project on your computer.
            </div>
            <div class="row">
              <div class="col-md-6">
                <img src="./static/assets/images/android.JPG" class="img-responsive" alt="">
                <p>Initial opening window</p>
              </div>
              <div class="col-md-6">
                <img src="./static/assets/images/android2.JPG" class="img-responsive" alt="">
                <p>Adding a crime, can include date, picture, and description</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center section-container-spacer">
            <h2 class="with-project-number"><span class="project-number">06</span>Jeopardy Application</h2>
          </div>
          <div class="row section-container-spacer">
            <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Python Project</h3>
                <p class="footer-share-icons">
                  <a href="https://github.com/damirgafic/JeopardyQuiz" class="fa-icon" title="GitHub Link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>

            <div class="row">
              <p> I created this Python application with the help of the Tkinter library for the UI.
                I also incorporated the web scraping skills I have learned and used the jService.io
                database to retrieve the categories and questions
                The categories are randomized each time the application is loaded.
                There are 5 categories with 5 questions each the player may answer.
                A player can gain and lose points depending on whether they answer
                the question correctly. The game ends and the player's score is
                calculated when all the questions have been opened.

              <div class="row">
                <div class="col-md-6">
                  <img src="./static/assets/images/Jeopardy1.jpg" class="img-responsive" alt="">
                  <p>Main game window</p>
                </div>
                <div class="col-md-6">
                  <img src="./static/assets/images/Jeopardy2.jpg" class="img-responsive" alt="">
                  <p>Another window opens when a player opens a clue</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <ul class="navbar-nav nav">
            <li>
              <a href="./" title="Home" class="project-nav left"><span class="project-number">01</span>Previous</a>
            </li>
          </ul>
          <p class="h5 navbar-text">Furthur Projects <i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

          <ul class="navbar-nav nav navbar-right">
            <li>
              <a href="./about.html" title="About Me" class="project-nav right"><span class="project-number">03</span>Next </a>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>





  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
  </script>
  <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
</body>


</html>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>


</html>
